// import Adobe fonts
@import url("https://use.typekit.net/ngy7nsb.css");

// reset styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-mode {
    background-color: $primary-three;
    header {
        background-color: $typo-color-one;
    }
    .section {
        background-color: $typo-color-two;
    }
    footer {
        background-color: $primary-three;
    }

    footer p {
        color: $typo-color-three;
    }
    h1, h2, i {
        color: $typo-color-three;
    }
}

// set main font family
body {
    height: 100vh;
    margin: 0 auto;
    font-family: europa, sans-serif;
    background-color: $secondary-one;
}

i {
    font-size: $font-size-lg;
}

h1 {
    font-size: $font-size-m;
}