// css reset
@import "css-reset";

// font family
@import url("https://use.typekit.net/ngy7nsb.css");

body {
    font-family: europa, sans-serif;
    // font-family: rift-soft, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 0;
}