.CategoryList {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: $base-border-width solid $secondary-one;
    padding: 0 $base-padding;
    
    &__heading{
        font-size: $base-font-size;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }

    &:last-child {
        border-bottom: none;
    }
}