.SelectedCategoryList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: $base-border-width solid $secondary-one;

    &__category {
        flex: 1;
        // flex-basis: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 0 $base-padding;
    }

    &__badge-bg {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $typo-color-three;
        border-radius: 50%;
        box-shadow: 0px 10px 30px rgba($color: $secondary-two, $alpha: .8);
    }
    
    &__heading {
        flex: 1;
        font-size: $base-font-size;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }

    &__button {
        border: none;
        transition: 0.4s;
    }
    
    &__i{
        transition: 0.4s;
    }

    .rotate {
        transition: 0.4s;
        transform:rotate(90deg);
    }
    .SelectedCategoryList__article-container {
        display: none;
    }

    .display-block {
        display: block;
    }

    .SelectedCategoryList__article-link {
        text-decoration: none;
        color: $typo-color-one;
    }

    .SelectedCategoryList__article {
        flex-basis: 100%;
        display: flex;
        gap: 15px;
        padding: $base-padding;
    
        h2 {
            font-size: $base-font-size;
            font-weight: $font-weight-bold;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    
        article {
            font-size: $font-size-sm;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }
}
